
@{
    ViewBag.Title = "FAQs";
}
<h2>@ViewBag.Title.</h2>
<hr/>
<hr/>
<h3>@ViewBag.Message</h3>
<hr/>
<p>
    <strong>Some question?</strong> Some Answer
    <br />
    <strong>Question again?:</strong> Answer again
</p>
