@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="Pictures/banner.jpg" alt="School img" style="width:100%" />
</div>
<hr />
<h1>Welcome to Co-nnecto</h1>
<p>
    The application that connects <strong>Parents</strong> with <strong>Teachers</strong>.<br />
    No more phone calls, meetings.. Everything you need to know about<br />
    your child's progress is <strong>Here</strong>.
    <hr />

    You can check the grades, get in touch with teachers<br />
    and learn more about current and upcoming projects.
</p>


