@model List<Co_nnecto.Models.ApplicationUser>

@{
    ViewBag.Title = "Add Parents";
}

<h2>Add Parents</h2>
@using (Html.BeginForm("AddParents", "Student", FormMethod.Post))
{

    @Html.ValidationSummary("")
    <div>
        @Html.Label("Add Parent", null, new { @class = "form-control-label" })
        <div class="form-group">
            @Html.DropDownList("Parents", null, new { @class = "custom-select" })
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Add Parent" />
}